html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100%;
    background-image: url(../img/img-sky.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    width: 25%;
    padding: 2em;
    font-size: 1.1em;
}

.weatherbox {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    margin: 0.5em;
}

.weather-item {
    padding: 1em;
    margin: 0.5em;
    background: #f3eae8d4;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.weather-item img {
    max-width: 100%;
    height: auto;
    width: 1.3em;
    margin-right: 0.5em;
}